*, *::before, *::after{
    box-sizing: border-box;
    user-select: none;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.world{
    overflow: hidden;
    position: relative;
}

.score{
    /* position: absolute; */
    font-size: 3vmin;
    /* right: 1vmin;
    top: 1vmin; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .highScore{
    position: absolute;
    font-size: 3vmin;
    left: 1vmin;
    top: 1vmin;
} */

.start-screen{
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide{
    display: none;
}

.ground{
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%); /* posisi nilai property css */
}

.wolf{
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%); /* posisi nilai property css */
}

.godrag{
    position: absolute;
    left: calc(var(--left) * 1%); /* posisi nilai property css */
    height: 30%;
    bottom: 0;
}

/* menu.html */
/* .a1{
    position: absolute;
    text-decoration: none;
    color: transparent;
    right: 15vmin;
    top: 18vmin;
} */

.a2{
    position: absolute;
    /* color: transparent; */
    left: 0px;
    top: 0px;
}

.menu{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* bottom: 0; */
    /* border: 1px solid black; */
    background-image: url(/img/BGMenu.png);
    margin: auto;
}

.play{
/*     position: absolute;
    color: transparent; */
    /* padding: 10em 10em; */
    /* margin-left: 31em; */
    /* margin-top: 22em; */
    /* height: 114px; */
    /* width: 141px; */
    /* width: 20%;
    height: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    right: 34em;
    top: 27em;
    border-radius: 0px;    
    background-image: url(/img/buttonPlay.png); */
    /* background-image: url(/img/buttonPlay.png); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 34em; */
    /* margin-left: 2.5em; */
    background-image: url(/img/buttonPlay.png);
    height: 100%;
    width: 100%;
    background-position: 39em 30em;
    background-repeat: no-repeat;
    
}

.play a {
    /* padding: 0.7em 3em; */
    /* background-color: rgb(21, 49, 204); */
    text-decoration: none;
    color: white;
    border-radius: 2em;
    margin-top: 28em;
    /* visibility: hidden; */
    opacity: 10%;
    

}

#about{
    position: absolute;
    height: 35px;
    width: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    /* left: 5px; */
    /* right: 10px; */
    /* top: -100px; */
    border-radius: 0px;    
    background-image: url(/img/about.png);
}

.about {
    position: absolute;
    width: 35px;
    height: 35px;
    /* background-color: gray; */
    padding: 0.5em 0.5em;
    /* border-radius: 10em; */
    text-decoration: none;
    /* color: black; */
    /* transition: 0.7s; */
}

/* .about:hover {
    color: white;
    background-color: rgb(53, 52, 52);
    transition: 0.7s;
} */

.abt {
    margin-left: 2em;
    margin-top: 2em;
}